<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngIf = "folder=='Categories'">
    <br><br>
    <div *ngIf = "areCategories == false" class= "teste">
      <input class="custom-file-input" type = file accept=".csv" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"/> 
    </div>

    <br><br>
  
    <div>
      <ion-list *ngIf = "areCategories == true" inset=true> 
        <ion-item *ngFor="let item of name; let i = index" >
          {{ name[i] }} - (id: {{ id[i] }})
        </ion-item>
      </ion-list>
    </div>

</div>





</ion-content>
